<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Common.css" rel="stylesheet" />
    @{ Layout = null;}
</head>

<body style="background-color:whitesmoke;">
    @model SocialNetwork.WEB.Models.ProfileViewModels.ProfileViewModel
    <div class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SocialNetwork", "MainPage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>Link</li>
                    <li>Link</li>
                    <li>Link</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-md-offset-1">Link</div>

            <div class="col-sm-8" id="partialsPlace">
                <!--@{Html.RenderPartial("../Partials/HomepagePartial",Model);}-->

                @if (Model == null)
                {
                    <div>Cannot show the information</div>
                }
                else{
                    <div class="row">
                        <div class="common-info-block">

                        <div class="col-md-2">Name:</div>
                        <div class="col-md-10">@Model.Name </div>
                            
                        <div class="col-md-2">Sername:</div>
                        <div class="col-md-10">@Model.Sername</div>
                            
                        <div class="col-md-2">E-mail:</div>
                        <div class="col-md-10">@Model.IdentityName</div>
                        
                        <div class="col-md-2"> Profile id:</div>
                        <div class="col-md-10" id="profileId">@Model.Id</div>

                        <div class="col-md-2">Date of birth:</div>
                        <div class="col-md-10">@Model.DateOfBirth.Day / @Model.DateOfBirth.Month / @Model.DateOfBirth.Year</div>

                        <div class="col-md-2">Status:</div>
                        <div class="col-md-10">@Model.CustomInfo</div>  
                        </div>

                        <br>


                        </div>
                }
                </div>
            






        </div>
    </div>




    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SocialNetwork</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>