@model SocialNetwork.WEB.Models.ProfileViewModels.ProfileViewModel
<script src="~/Scripts/Homepage.js"></script>
<link href="~/Content/Homepage.css" rel="stylesheet" />
<div class="common-info-block common-info-block-text">
    <div class="row">
        <div class="col-md-7" style="border-right:1px solid black;">
        <h3 style="text-align:center;">@Model.Name @Model.Sername</h3>
            <hr/>
        <h4>@Model.IdentityName</h4>
        <h4>Profile id: @Model.Id</h4> 
        <h4>Date of birth: @Model.DateOfBirth.Day / @Model.DateOfBirth.Month / @Model.DateOfBirth.Year</h4>
        <h4>Status</h4>
        <h4>@Model.CustomInfo</h4>
            </div>
        <div class="col-md-5" style="margin-top:3%;">
            <h3><span class="glyphicon glyphicon-user"></span> Followers @Model.Followers.Count()</h3>
            <h3><span class="glyphicon glyphicon-user"></span> Subscriptions @Model.Subscriptions.Count()</h3>
            </div>
    </div>
</div>

<br>
<div class="postTypeContainer" id="myPublications" onclick="homepage.changeTheDisplayedPosts()">My publications</div>
<div class="postTypeContainer" id="myReposts" style="display:none;" onclick="homepage.changeTheDisplayedPosts()">My reposts</div>

<div class="common-info-block common-info-block-text" id="write-post-container" onclick="homepage.createNewPost()">
    Create a new post
</div>
<br>

<div class="common-info-block common-info-block-text" id="publicationingPost" style="display:none;">

    @using (Ajax.BeginForm("PublicateNewPost", "Post", new AjaxOptions
    {
        HttpMethod = "Post",
        OnComplete = "homepage.closePostForm"
    }))
    {
        <div class="row">
            <div class="col-md-offset-11 col-md-1">
                <a>
                    <span class="glyphicon glyphicon-remove" onclick="homepage.closePostForm()"></span>
                </a>
            </div>
        </div>

                            <span>Hashtags</span> <a><span class="glyphicon glyphicon-plus" onclick="homepage.addHashtag()"></span></a>
                            <div class="hashtags-container" id="hashtagsContainer">
                                <div style="display:none;" class="error-message" id="incorrectHashtagsError">Hashtags may not be the same</div>
                            </div>

                            <hr />

                            <textarea id="newPostContent" rows="10" placeholder="Type here" name="Content"></textarea>
                            <hr />
                            <input type="submit" value="Publicate" />

    }

</div>
<br>
<div id="publicationsContainer"></div>
<div id="repostsContainer" style="display:none;"></div>
<br>